old/*
lib/data/*
lib/vertnet_latest*
documents/*
lib/tests/*
lib/creds/*
google_creds*
.ipynb_checkpoints
__pycache__
.classpath
.project
.settings
target
.DS_Store
*.class
*.pyc
*.tar.gz
*.egg-info
*.whl

