fail_fast: false
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
        args: [--allow-multiple-documents]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: [ --maxkb=20000 ]
    -   id: debug-statements
    -   id: check-executables-have-shebangs
    -   id: check-shebang-scripts-are-executable
        language_version: python3

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.11
  hooks:
    - id: ruff
      args: [ --fix, --show-fixes ]
    - id: ruff-format
