certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
inflect==2.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.17.2
pandas==0.25.1
python-dateutil==2.8.0
pytx==0.5.10
pytz==2019.2
requests==2.22.0
six==1.12.0
urllib3==1.25.6
Werkzeug==0.16.0
