<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Traiter</title>
<style>
{% include 'html_writer.css' -%}
</style>
</head>
<body>
<h1>Traiter <span>{{ now }}</span></h1>
<table>
  <thead>
    <tr>
      <th>Family</th>
      <th>Taxon</th>
      {% for header in headers %}
        <th>{{ header | safe }}</th>
      {% endfor %}
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row.family.capitalize() }}</td>
      <td>
        <a href="http://{{ row.link }}"
            target="_blank"
            rel="noopener"
            rel="noreferrer">
          {{ row.taxon }}
        </a>
      </td>
      {% for trait in traits %}
        <td>{{ row[trait] | safe }}</td>
      {% endfor %}
      <td class="text">{{ row.text | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- <div class="pager-container">
  <button class="first-page" title="First page">&lt;&lt;</button>
  <button  class="previous-page" title="Previous page">&lt;</button>
  <label>Page:</label>
  <input class="pager" type="number" min="1" step="1" value="1"/>
  <label class="max-page"></label>
  <button class="next-page" title="Next page">&gt;</button>
  <button class="last-page" title="Last page">&gt;&gt;</button>
</div>
</body>
<script>
{% include 'html_writer.js' -%}
</script> -->
</html>
